.project-info {
	display: inline-flex;
}

.project-info .info-label {
	font-weight: 700;
	min-width: 100px !important;
}

.project-info ul {
	padding: 0px;
	display: inline-flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.project-info li {
	display: flex;
	padding: 4px;
	background-color: #d3e3e5;
	border-radius: 4px;
	font-size: 0.9em;
	padding-left: 6px;
	padding-right: 6px;
}

.skills {
	max-width: 80%;
}

.info-quote {
	display: block;
	font-size: 1.2em;
	border-left: 10px solid #00839f;
	font-style: italic;
	margin-top: 20px;
	margin-left: 15px;
	box-sizing: border-box;
}

.project-background {
	margin-top: 50px;
}

.project-info h4 {
	margin-left: 0px;
}

@media screen and (max-width: 550px) {
	.info-row {
		flex-direction: column;
	}
}